.top {
  display: center;
  font-size: 50px;
  background: linear-gradient(to right, #e60000, #f39800, #fff100, #009944, #0068b7, #1d2088, #920783);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 300%;
  font-weight: bold;
  display: inline-block;
}
  
  
.insert {
  display: flex;
  margin: 0 auto;
  padding: 10px auto;
}

.
